/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #353353;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #fff;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    padding-bottom: 550px;
    position: fixed;
    background: #353353;
    border-right: 2px solid #32304e;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    
    
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 80px;
    background: #353353;
    color: white;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #353353;
}

#sidebar ul p {
    color: #ffc257;
    padding: 10px;
}

#sidebar ul li a {
    position: sticky;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffc257;
    background: #353353;
}

#sidebar ul li.active>a,
a[aria-expanded="false"] {
    color: #ffc257;
    background: #353353;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #353353;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #353353;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #a19cff;
    color: #fff;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#sidebarCollapse {
    background-color: #000;
    color: white;
}

.social-icons-media{
    color: #fff !important;
    size: 10px !important;
}

#home {
    padding-top: 20rem;
    margin-bottom: 35rem;
    background-color: #353353;
    
}

/*--------------------------------------------------
    Parallax
---------------------------------------------------*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1;
  }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    background-color: #353353;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.morphext > .animated {
    display: inline-block;
    color: #ffc257;
  }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* Style the card section */


/* Style the card section */



/* Style the card */
#blog .col-md-4 {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #302f4e; /* Set the background color directly here */
}

/* Center the text and buttons inside the card */
#blog h5,
#blog .btn {
    text-align: center;
}

/* Style the buttons */
#blog .btn {
    color: white;
    background-color: #892230;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#blog .btn:hover {
    background-color: #6b1c1c;
}

.card {
    background-color: #32304e;
    color: white;
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    color: #d9d9d9;
}

.card .card-img-top {
    border-radius: 50%; /* Make the image circular */
    width: 180px; /* Set the width to make it smaller */
    height: 180px; /* Set the height to make it smaller */
    object-fit: cover; /* Ensure the image covers the entire space */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is a block element */
    margin-bottom: 10px; /* Add some space between the thumbnail and title */
}

.card-body{
    color: white;
}

.form-label {
    color: white;
}

/* Style the tool section */
#tools {
    padding: 80px 0;
    background-color: #353353;
}

/* Style the tool cards */
.tool-card {
    /* Existing styles */
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: #302e4c;
    margin-bottom: 20px;
    color: white;
    position: relative; /* Add this for positioning */
    transition: transform 0.2s;
}

.tool-card:hover {
    transform: translateY(-5px);
}

.tool-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

.tool-icon img {
    width: 100%;
    height: auto;
}


.tool-card h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.tool-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.tool-card .btn {
    background-color: #892230;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.tool-card .btn:hover {
    background-color: #6b1c1c;
}

.gtranslate_wrapper {
    background-color: #303030;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gtranslate_selector {
    color: #eaeaea;
    border-color: #161616;
    background-color: #474747;
}

.gtranslate_dropdown {
    color: #eaeaea;
    background-color: #474747;
}

.gtranslate_dropdown_item:hover {
    background-color: #748393;
}
