h1 {
    font-family: "eurostile", sans-serif;
}

#sectionBlue {
    background-color: #386E77;
    margin-top: -3.4rem;
}

svg{
    height: 20px;
    width: 20px;
}

#spanMod{
    border-style: none;
    color: #386E77;
}

#navContact {
    border-bottom-style: solid;
    border-color: black;
    margin-top: 60px;
}

#containerNav {
    margin-top: -3rem;
}

#avatar {
    margin-top: rem;
    height: 150px;
    width: 150px;
}

#brand {
    color:  #386E77;;
}

#modifyDiv{
    margin-bottom: -10rem;
}


